{% extends "layout.html" %}
{% block main_content %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Ask mate is a website made by a team of 3 programming specialists.
                    The site is potentially meant to allow the user to ask a question,
                    answer other people's questions and vote on selected questions.
                </p>
                <p>Programming specialists that made this masterpiece: Aleksander D, Bartosz K and Julia B</p>
                <p>...</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
