{% extends "layout.html" %}
{% block main_content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for question in questions %}
            <div class="post-preview">
                <a href="question/{{question.id}}">
                    <h2 class="post-title">{{ question.title }}</h2>
                    <h3 class="post-subtitle">{{ question.content }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{question.user_id}}</a>
                    on {{ question.date_created }}
                    Views: {{ question.view_number }} Votes: {{ question.vote_number }}
                </p>
            </div>
            {% endfor %}
            <!-- Divider-->
            <hr class="my-4"/>
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase"
                                                            href="/index/{{ limit + 3 }}">Older Posts →</a></div>
        </div>
    </div>
</div>
{% endblock %}
