{% extends "layout.html" %}
{% block main_content %}
    <div class="content">
        <h1 style="text-align: center">Questions table</h1>
        {% if questions|length < 1 %}
            <h4 style="text-align: center">There are no questions. Create one below!</h4>
        {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th> ID</th>
                    <th>Title</th>
                    <th>Question</th>
                    <th>Author</th>
                    <th>Creation Date</th>
                    <th>Views</th>
                    <th>Votes</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <td>{{ question.id }}</td>
                        <td>{{ question.title }}</td>
                        <td>{{ question.content }}</td>
                        <td>{{ question.user_id }}</td>
                        <td>{{ question.date_created }}</td>
                        <td>{{ question.view_number }}</td>
                        <td>{{ question.vote_number }}</td>
                        <td>
                            <a href="/delete/{{ question.id }}"> Delete</a>
                            <br>
                            <a href="/update/{{ question.id }}"> Update</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <form action="/add_question" method="POST">
            <input type="text" name="content" id="content" value="Content">
            <input type="text" name="title" id="title" value="Title">
            <input type="text" name="author" id="author" value="Author">
            <input type="submit" value="Add Task">
        </form>
    </div>
{% endblock %}