{% extends "layout.html" %}
{% block main_content %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Fill out the form below to update your question.</p>
                <div class="my-5">
                    {% for question in questions %}
                    <form action="/update/{{ question.id }}" method="POST">
                        <div class="form-floating">
                            <input class="form-control" type="text" name="title" id="title" value="{{ question.title }}"/>
                            <label for="title">Question title</label>
                            <div class="invalid-feedback" data-sb-feedback="title:title required">You need a title!</div>
                            <div class="invalid-feedback" data-sb-feedback="title:title">Add title!</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" type="text" name="content" id="content"
                                   value="{{ question.content }}"/>
                            <label for="content">Content</label>
                            <div class="invalid-feedback" data-sb-feedback="content:required">A content is required.
                            </div>
                        </div>
                        <br/>
                        <!-- Submit success message-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br/>
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger mb-3">Error sending message!</div>
                        </div>
                        <!-- Submit Button-->
                        <input type="submit" value="Update question">
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}